<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User</title>
    <style>
        body {
            background-color: #1e1e1e;
            color: white;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 0;
            padding: 0;
        }

        h1 {
            color: #e50914;
            text-align: center;
            margin-top: 40px;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 300px;
            margin: auto;
            padding: 20px;
            border-radius: 10px;
            background-color: #141414;
        }

        label {
            color: white;
            display: block;
            margin-bottom: 8px;
        }

        input, checkbox {
            width: calc(100% - 16px);
            padding: 8px;
            margin-bottom: 15px;
            border: 1px solid #333;
            border-radius: 5px;
            background-color: #1e1e1e;
            color: white;
            box-sizing: border-box;
        }

        .button-container {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        button, a {
            width: 60%;
            padding: 10px;
            background-color: #e50914;
            color: white;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            text-decoration: none;
            display: inline-block;
            transition: background-color 0.3s;
        }

        button:hover, a:hover {
            background-color: #ff0a16;
        }
        footer {
            width: 100%;
            margin-top: 255px;
            text-align: center;
            color: #8c8c8c;
        }

        .go-back {
            width: 50%;
            padding: 10px;
            background-color: #111;
            color: white;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            transition: background-color 0.3s;
        }

        .go-back:hover {
            background-color: #333;
        }
    </style>
</head>

<body>

    <h1>Edit User</h1>

    <form action="/admin/edit/<%= user._id %>" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" value="<%= user.username %>" required>

        <label for="newPassword">New Password:</label>
        <input type="password" id="newPassword" name="newPassword">

        <label for="isAdmin">Is Admin:</label>
        <input type="checkbox" id="isAdmin" name="isAdmin" <% if (user.isAdmin) { %> checked <% } %> value="true">

        <div class="button-container">
            <button type="submit">Save Changes</button>
            <button class="go-back" onclick="window.history.back()">Go Back</button>
        </div>
    </form>


</body>

</html>
